# For loop
###List = [ ], tuples = ( ), set, dict = { } , accessing or slicing the elements = [ ], function = ( )

In [2]:
l=[1,2,3,4,5]
for i in l:
  print(i)

1
2
3
4
5

In [3]:
for i in "Dhruvi":
  print(i)

D
h
r
u
v
i

In [4]:
t=(1,2,3,4)

In [5]:
l=[1,2,3.4,"Dhruvi", 1.5j]

In [6]:
type(l)

list

In [7]:
for i in l:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [8]:
for i in l:
  print(type(i), "type of",i)

<class 'int'> type of 1
<class 'int'> type of 2
<class 'float'> type of 3.4
<class 'str'> type of Dhruvi
<class 'complex'> type of 1.5j

In [9]:
l=[1,2,3,4,5,6]
for i in l:
  print(i+2)

3
4
5
6
7
8

In [10]:
l=[1,2,3,4,5,6]
l1=[]
for i in l:
  print(i+2)
  l1.append(i+2)

3
4
5
6
7
8

In [11]:
l1

[3, 4, 5, 6, 7, 8]

In [12]:
l2=[4,5,9.6,"Akash",4+5j,[42,3,65]]

In [13]:
for i in l2:
  if type(i)==int:
    print(i)

4
5

In [14]:
for i in l2:
  if type(i)==int:
    print(i)
  elif type(i)==list:
    for j in i:
      if type(j)==int:
        print(j)

4
5
42
3
65

In [15]:
l = [2,45,78,12,12,12,12,"sudh" , 6+7j,[56,67,78,"dsfdsf"]]
#q1 . try to print index of all the element 
#q2 . Try to extract all the list of char if element is string 
#q3 . Try to return a list after doing a square of all the int element

In [21]:
#List = [], tuples = (), set, dict = {} , accessing or slicing the elements = [], function = ()

#q1 . try to print index of all the element 
for i in range(len(l)):
  print("index", i,"for an element",l[i])

#another method
## enumerate returns indexing aswell as individual element
for i,j  in enumerate(l):
    print(i ,j)

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element 12
index 5 for an element 12
index 6 for an element 12
index 7 for an element sudh
index 8 for an element (6+7j)
index 9 for an element [56, 67, 78, 'dsfdsf']
0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'dsfdsf']

In [17]:
## enumerate returns indexing aswell as individual element

for i in enumerate(l):
  print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 'sudh')
(8, (6+7j))
(9, [56, 67, 78, 'dsfdsf'])

In [19]:
#q2 . Try to extract all the list of char if element is string 
l = [2,45,78,12,12,12,12,"sudh" , 6+7j,[56,67,78,"dsfdsf"]]

for i in l :
    if type(i) == str :
        l1 = []
        for j in i :
            l1.append(j)
        print(l1)
      

for i in l:
  if type(i)==str:
    print(i)
  elif type(i)==list:
    for j in i:
      if type(j)==str: 
        print(j)

['s', 'u', 'd', 'h']
sudh
dsfdsf

In [22]:
#q3 . Try to return a list after doing a square of all the int element 
l = [2,45,78,12,12,12,12,"sudh" , 6+7j,[56,67,78,"dsfdsf"]]
for i in l:
  if type(i)==int:
    print(i*i)
  elif type(i)==list:
    for k in i:
      if type(k)==int:
        print(k*k)

# Sudhanshu Sir's method
l = [2,45,78,12,"sudh", 6+7j,[56,67,78,"shdhi"]]
l2=[]
for i in l :
    if type(i) == int:
        l2.append(i**2)

l2

4
2025
6084
144
144
144
144
3136
4489
6084

[4, 2025, 6084, 144]

In [8]:
l=["Dhruvi","Akash","Saanvi","Golu"]
for i in l:
  print(i+"pandit")

Dhruvipandit
Akashpandit
Saanvipandit
Golupandit

In [12]:
s="ineuron"
for i in s:
 print(i)

i
n
e
u
r
o
n

# For Else

In [ ]:
l=["Dhruvi","Akash","Saanvi","Golu"]
for i in l:
  print(i+"pandit")